<!-- Loop over each object in the projects array -->
{{#each ais as |AI| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a class="profile-text-title" href="/ai/{{AI.id}}">{{AI.title}}</a>
    </h2>
   
    <p>Created by {{AI.user.name}} on {{format_date AI.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{AI.content}}
    </p>
  </div>
</div>
{{/each}}
