<!-- Loop over each object in the projects array -->
<div class="wrapper">
{{#each ais as |AI| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a class="profile-text-title" href="/ai/{{AI.id}}">{{AI.title}}</a>
    </h2>

   <div class="credit-wrapper">
    <p>Created by&nbsp</p>
    <a href="/profile/{{AI.user_id}}" class="profile-text-title"><p>{{AI.user.name}}</p> </a> 
    <p>&nbspon {{format_date AI.date_created}}</p>
   </div>
    
  </div>
  <div class="col-md-7">
    <p>
      {{summary AI.content}}
    </p>
  </div>
</div>
{{/each}}
</div>
